<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Department Details</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<body>
<h1>Department Edit Form</h1>
<form th:action="@{/updateDepartment}" th:object="${departmentToEdit}" method="post">
  <input type="hidden" id="id" name="id" th:field="*{id}"/><br/>
  <label for="dept_name">Department Name</label>
  <input type="text" id="dept_name" name="dept_name" th:field="*{deptName}"/><br/>
  <input type="submit" value="Update"/>
</form>
</body>
</html>