<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>

<link rel="stylesheet" type="text/css" href="/css/main.css">
<h1>Welcome to the Project Home Page</h1>
<body>
<ul>
    <li><a th:href="@{/departmentPage}">Department Page</a> </li>  <br/>
    <li><a th:href="@{/departmentEmployee}">Department Employee Page</a> </li> <br/>
    <li><a th:href="@{/dept-manager}">Department Manager Page</a>  </li><br/>
    <li><a th:href="@{/employees}">Employees Page</a> </li><br/>
    <li><a th:href="@{/salaries}">Salaries Page</a></li><br/>
    <li><a th:href="@{/titles}">Titles Page</a></li><br/>
</ul>

</body>
</html>