<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<h1>Welcome to the Project Home Page</h1>
<body>
<ul1>
    <li1><a th:href="@{/departmentPage}">Department Page</a> </li1>  <br/>
    <li1><a th:href="@{/departmentEmployee}">Department Employee Page</a> </li1> <br/>
    <li1><a th:href="@{/departmentManager}">Department Manager Page</a>  </li1><br/>
    <li1><a th:href="@{/employees}">Employees Page</a> </li1><br/>
    <li1><a th:href="@{/salaries}">Salaries Page</a></li1><br/>
    <li1><a th:href="@{/titles}">Titles Page</a></li1><br/>
</ul1>
</body>
</html>