<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Salaries</title>
    <meta charset="UTF-8">
</head>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<body>
<h1>Departments and Employees</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Department</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="deptEmp : ${deptEmps}">
        <td th:text="${deptEmp.id}"></td>
        <td th:text="${deptEmp.firstName}"></td>
        <td th:text="${deptEmp.lastName}"></td>
        <td th:text="${deptEmp.deptNo}"></td>

        <td>
            <form method="post" th:action="@{}">
                <button type="submit">Delete</button>
            </form>
        </td>
        <td>
            <form method="get" th:action="@{deptEmp.empId}">
                <input type="hidden" name="emp_No" th:value="${deptEmp.{empId}.empId}"/>
                <input type="hidden" name="fromDate" th:value="${deptEmp.{empId}.fromDate}"/>
                <input type="hidden" name="fromDate" th:value="${deptEmp.{empId}.toDate}"/>
                <button type="submit" class="btn btn-danger">Edit</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<div>
    <form th:action="@{}" method="get">
        <input type="hidden" name="empNo" th:value="${empNo}" />
        <button type="submit" class="btn btn-primary">Insert Department for Employee</button>
    </form>
</div>
<br>
<div th:if="${status}" class="alert alert-success" role="alert">
    <span th:text="${status}"></span>
</div>

</body>
</html>
