<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Department to Employee</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<body>
<h1>add Department form</h1>
<form th:action="@{/update/deptEmp}" th:object="${updatedDeptEmp}" method="post">
  <input type="hidden" id="id" name="id" th:field="*{id}"/><br/>

  <label for="deptNo">Department Name</label>
  <input type="text" id="deptNo" name="deptNo" th:field="*{deptNo}"/><br/>

  <label for="fromDate">From Date:</label>
  <input type="date" id="fromDate" name="fromDate" th:field="*{fromDate}"/><br/>

  <label for="toDate">To Date:</label>
  <input type="date" id="toDate" name="toDate" th:field="*{toDate}"/><br/>

  <input type="submit" value="Update"/>
</form>
</body>
</html>