body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul {
    list-style-type: none;
    margin-top: 50px;
    padding: 0;
    background-color: gray;
    text-align: center; /* center the links */
}

li {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 24px;
    margin-bottom: 10px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 24px;
    margin-bottom: 10px;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.alert-success {
    background-color: #4CAF50;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 20px;
    }
}

